.button-landing{
  display: flex;
  justify-content: space-evenly;
  margin-bottom:10px;
}
.main{
  height: 100%;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 60px;
 

}
.main>h1{
  font-weight: 700;
}
.main >ol{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: justify;
  letter-spacing: 1px;
    font-weight: 450;
    font-size: 17px;
    line-height: 1.6;

}